/*  
html, body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
*/
body {
    font: 12px "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
    padding: 0;
}

select {
    font: 12px Tahoma, Verdana, Arial, sans-serif;
}
input {
    font: 12px Tahoma, Verdana, Arial, sans-serif;
}
table {
    font: 12px Tahoma, Verdana, Arial, sans-serif;
}
textarea {
    font: 12px Andale Mono, Courier New, Courier;
}
a {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 1px 5px;           
}

a.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
}
/*
body * {
    line-height:1.22em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color:#4088b8;
    clear: both;
}

h1 {
}

h2 {
    color: #c8c8c8;
		margin-top: -25px;
}

h3 {
}

h4 {
    color: #333;
    margin-bottom: -10px;
}

p {
    margin: 10px 0;
    clear: both;
}

ul, ol {
    margin-left 0;
}

ul ul {
    margin-bottom: 20px;
}

#wrap {
    color: #404040;
    margin: 20px 40px;
}

a {
    color: #4088b8;
}

table {
    font-size: inherit;
    border: 1px solid #c8c8c8;
}

th {
    background: #d8d8d8;
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}

td {
    background: #f8f8f8;
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

select, input, textarea {
    font: 99% "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
}

pre, code, tt, dt {
    font: 100% monospace;
    margin: 20px 0;
}

pre, blockquote {
    padding: 15px;
    background-color: #f0f0f0;
    margin: 20px 0;
    -moz-border-radius: 10px;
}

td pre {
    font: 85% monospace;
    padding: 5px;
    margin: 5px 0;
}
*/
.watermark {
   color: #999;
}


.infoBox {
  /*  background: rgb(204,204,255); */
    padding: 0.5em;
    border: 1px solid;
}
.infoBox h3 {
    font: 14px "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
    padding: 0px;
    margin-bottom: 0px; margin-top: 0px;
   /* color: rgb(255, 99, 71); */
}
.info {
    font: 11px Andale Mono, Courier New, Courier;
}

.statusBox {
    float:right;
    vertical-align: top;
    font: 12px;
}

.dsListElement {
   background: rgb(230,230,255);
   border: solid 1px #bbbbbb;
   padding: 3px;
}
