/* Author: Diego Marcos (dmarcos@uw.edu) */
html{
  text-shadow: 0px 1px 0px #d2d2d2;
  font: 15px 'Lucida Grande', 'Helvetica Neue', Arial, sans-serif;
  color: #663091;
  font-weight: normal;
}

body {
  min-width: 960px;
  margin: 0;
	padding: 0;
	
	background-color: #8d83b4; 
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 1.2000000476837158s;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  background-attachment: scroll, scroll;
  background-clip: border-box, border-box;
  background-image: url(http://www.tabsicons.com/img/color1.png), none;
  background-origin: padding-box, padding-box;
}

ul {
  list-style: none;
}

li{
  font-weight: light;
}

h2 {
  font-weight: 500;
  margin-bottom: 20px;
}

dl {
  margin-right: 20px;
}

dl,dt,dd { 
  display: inline;  
}

dt{
 margin-right: 5px; 
}

dd{
 color: #4e4d74; 
}

h1 {
  font-weight: 700;
}

p {
  color: #4e4d74;
  margin-bottom: 20px;
}

header {
  display: block;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #b3adc6;
  padding: 10px 10px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, .4), 0 5px 10px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .4), 0px 5px 10px  rgba(0, 0, 0, .3);
}

#toolBoxHeader{
  margin: 10px;
  text-align: left;
  
}

#toolBoxHeader span.titleHover{
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-right: 1px;
  text-shadow: none;
  opacity: 1;
}

#toolBoxHeader span {  
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  opacity: .6;
}

nav a{
  height: 29px;
  line-height: 27px;
  font-size: 15px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  background: #938EAF;  
  opacity: .9;
  padding: 5px 10px;
  margin-right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 0 rgba(255, 255, 255, 0.15) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 0 rgba(255, 255, 255, 0.15) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 0 rgba(255, 255, 255, 0.15) inset;
  cursor: pointer;
}

nav a:hover{
  background: #764293;
  text-decoration: none;
}

.tool{
  width: 100%; 
  color: rgba(0, 0, 0, .6);
  background-color: rgba(147, 142, 174, 0.4);
  font-weight: light;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;  
}

.tool .toolTitle{
  padding-left: 10px;
}

#chat .chatMessage{
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

#chat #messageSendButton{
  display: none;
}

#chat #messageField {
  width: 85%;
  overflow-x: hide;
  background: white;
  height: 27px;
  margin: 0px;
  padding: 5px;
  border-width: 1px;
  display: inline;
  -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

#chat #chatInput{
  width: 100%;
  text-align: center;
}

#chat #chatList{
  width: 100%;
}

#chat input{
  padding: 5px;  
  font-size: 14px;
  text-shadow: 0px 1px 0px #fff;  
  outline: none;  
  background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(#ffffff));  
  background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);  
  -webkit-border-radius: 3px;  
  -moz-border-radius: 3px;  
  border-radius: 3px;  
  border: 1px solid rgba(0, 0, 0, 0.5);
}

input:focus {
  -webkit-box-shadow: 0 0 5px rgba(102, 45, 145, 1); 
  -moz-box-shadow: 0 0 5px rgba(102, 45, 145, 1); 
}

.toolBox{
  position: fixed; 
  text-align: center;
  background-color: #b7abc3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .3);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .3);
  border-style: solid;
  border-color: rgba(0, 0, 0, .4);
  border-width: 1px;
  margin-right: 10px;
  margin-top: 10px;
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, .9);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .9);
}

header h1 {
 float: left;
 margin: 0;
}

header h1 a {
background: url("/images/ascotLogo.png");
float: left;
height: 35px;
overflow: hidden;
text-indent: -900px;
width: 143px;
}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: white;}

header nav {
float: right;
margin: 5px 0 0;
}

header li {
float: left;
}

