/* Author: Diego Marcos (dmarcos@uw.edu) */
html, body {
  width: 100%;
  height: 100%;
}

html{
  text-shadow: 0px 1px 0px #d2d2d2;
  font: 15px 'Lucida Grande', 'Helvetica Neue', Arial, sans-serif;
  color: #663091;
  font-weight: normal;
}

body {
  margin: 0;
	padding: 0;
  background-color: #a39ac6; 
  background-attachment: scroll, scroll;
  background-clip: border-box, border-box;
  background-image: url(/images/pattern.png), none;
  background-origin: padding-box, padding-box;
}

strong, b {
  font-weight: bolder;
}

ul {
  list-style: none;
}

li{
  font-weight: light;
}

h2 {
  font-size: 18px;
  margin: 30px 0px 5px 5px;
}

h3{
  font-size: 16px;
  text-shadow: 0 1px 0 white;
  margin: 20px 0px 5px 5px;
}

dl {
  margin-right: 20px;
}

dl,dt,dd { 
  display: inline;  
}

dt{
 margin-right: 5px; 
}

dd{
 color: #4e4d74; 
}

h1 {
  font-weight: 700;
}

p {
  color: #4e4d74;
  margin-bottom: 20px;
}

header {
  height: 100%; 
  width: 100%;
}

.uwLogo{
  background: url('/images/uwLogo.png') no-repeat;
  display: inline-block;
  width: 18px;
  height: 12px;
  background-size: 100%;
}

footer a {
  padding: 0px 0px 0px 20px;
  font-size: 12px;
  text-decoration: none;
  color: #662d91;
  text-shadow: none;
}

footer a:hover {
  text-decoration: none;
  color: #662d91;
  cursor: pointer;
}

footer a:visited {
  text-decoration: none;
  color: #662d91;
}

.content td{
  vertical-align: top;
  padding: 0px 20px 10px 10px;
}

.content td.header{
  height: 20px
}

.content td.content{
  padding-left: 25px
}

.content td#toolBox{
 width: 100px;
 padding-left: 20px;
 padding-right: 15px;
}

.content td.footer{
  height: 10px;
  padding: 0px 10px 0px 10px
}

div.content{
  width: 100%;
  float: right;   
  min-height: 500px;
  border: 1px solid rgba(102, 45, 145, 0.7);
  padding: 5px 0px 0px 15px;
  background-color: #ece9e9;  
  color: #464547;
  text-shadow: none;
  font-size: 16px;
  
  -moz-box-shadow:rgba(255,255,255,.60) 0 0 6px,inset 0 0 2px rgba(0, 0, 0, 1);
  -webkit-box-shadow:rgba(255,255,255,.60) 0 0 6px, inset 0 0 2px rgba(0, 0, 0, 1);
  box-shadow:rgba(255,255,255,.60) 0 0 6px, inset 0 0 2px rgba(0, 0, 0, 1);
 
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

header div.logo {
 float: left;
 margin: 0px 0px 0px 150px;
}

header div.logo a {
  background: url("/images/ascotLogo.png");
  float: left;
  height: 43px;
  width: 140px;
  margin-top: 5px;
  background-size: 100%;
  overflow: hidden;
  text-indent: -900px;
}

header nav {
  margin-top: 15px;
  float: right;
  width: 294px;
}

header nav div.buttonGroup{
 display: inline-block;
 padding: 0px;
 margin: 0px 23px 0px 0px;
 
 /* -moz-box-shadow:rgba(255,255,255,.6) 0 0 6px;
 -webkit-box-shadow:rgba(255,255,255,.6) 0 0 6px;
 box-shadow:rgba(255,255,255,.6) 0 0 6px; */
 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

header nav a{  
  height: 25px;
  line-height: 27px;
  margin: 0px;
  font-size: 14px;
  color: #464547;  
  text-shadow: 0 -1px 1px rgba(255, 255, 255, .28);
  background-color: #ece9e9;
  background: -webkit-linear-gradient(top, #ece9e9 0%, #d8d7da 100%);
  background: -moz-linear-gradient(top, #ece9e9 0%, #d8d7da 100%);
  opacity: .9;
  padding: 5px 10px;
  text-shadow: rgba(255, 255, 255, .65) 0 1px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
  cursor: pointer;
  -webkit-transition: border-color .218s;
}

header nav a:hover{
  text-decoration: none;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

header nav a:active{
  background: -webkit-linear-gradient(top, #d8d7da 0%, #ece9e9 100%);
  background: -moz-linear-gradient(top, #d8d7da 0%, #ece9e9 100%);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .4), 0 1px 1px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .4), 0 1px 1px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .4), 0 1px 1px rgba(0, 0, 0, 0.6) inset;
  text-decoration: none;
}

header nav li.right{
  margin-left: 0px;
}

header nav li.left{
  margin-right: 0px;
}

header nav li.right a{
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

header nav li.left  a{
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  margin-right: 0px;
}

header nav > ul > li {
  margin-left: 20px;
}

nav ul, nav li {
  margin: 0px;
  float: left;
  list-style: none none;
  list-style-image: none;
}

nav ul{
  margin-right: 0px;
}

footer {
 height: 30px;
 padding: 0px 35px 0px 0px; 
}

.toolBox{
  position: fixed; 
  text-align: center;
  background-color: #ece9e9;  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .3);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .3);
  border-style: solid;
  border-color: rgba(0, 0, 0, .4);
  border-width: 1px;
  margin-right: 10px;
  margin-top: 10px;
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, .9);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .9);
}

#dataSetsPanelContent, #discussionPanelContent{
  padding: 10px 15px 15px 0px;
}

.dataSetLabel{
  margin-right: 75px;
  font-size: 14px;
}

.dataSetInfo{
  padding: 10px;
  background-color: white;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  border-style: solid;
  border-color: #afaeb0;
  border-width: 1px;
}

.commentBox{
  height: 135px;
  padding: 0px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #afaeb0;
  font-size: 14px;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.commentBox p{
  color: #464547;
}

#messagesList li{
  margin: 0px;
}

.commentBox div.meta{
  height: 34px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: solid 1px #afaeb0;
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #e1e1e1 100%);
  background: -moz-linear-gradient(top, #f0f0f0 0%, #e1e1e1 100%);
}

.commentBox div.body{
  height: 80px;
  border-width: 0px;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
}

.commentAuthor{
  margin-left: 10px;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: white;}

#closeNote{
  float: right;
  background: url("/images/closeAlertButton.png");
  height: 24px;
  width: 24px;
  background-size: 100%;
  margin: 5px 25px 0px 0px;
  vertical-align: text-top;
}

#closeNote:hover{
  background: url("/images/closeAlertButtonHover.png");
  cursor: pointer;
}

#note {
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 36px;
  overflow: hidden;
  color: #464547;  
  text-shadow: rgba(255, 255, 255, .65) 0 1px 0;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

#popUpMask {
  background-color:#111;
  opacity: 0.65;
  filter:alpha(opacity=65);
  position:absolute;
  z-index: 9001;
  top:0px;
  left:0px;
  width:100%;
}

div.closePopUp{
  position: absolute;
  right: -15px;
  top: -15px;
  background: url("/images/closePopUp.png");
  height: 30px;
  width: 30px;
  background-size: 100%;   
}

#popUp {
  position:absolute;
  background-color: white;
  width: 500px;
  height: 300px;
  z-index: 9002; 
  border: 4px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  padding: 5px;
}

#tabsBar{
 width: 100%;
 margin: auto;
 text-shadow: rgba(255, 255, 255, .65) 0 1px 0;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 background-color: #ece9e9;
 border: 1px solid rgba(102, 45, 145, 0.7);
 -moz-box-shadow:rgba(255,255,255,.60) 0 0 6px, inset 0 0 2px rgba(0, 0, 0, 1);
 -webkit-box-shadow:rgba(255,255,255,.60) 0 0 6px, inset 0 0 2px rgba(0, 0, 0, 1);
 box-shadow:rgba(255,255,255,.60) 0 0 6px, inset 0 0 2px rgba(0, 0, 0, 1);
}

#tabsBar div.tab{
  width: 98%;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: auto; 
  text-align: center;
  background: -webkit-linear-gradient(top, #ece9e9 0%, #d8d7da 100%);
  background: -moz-linear-gradient(top, #d8d7da 0%, #d8d7da 100%);
}

#tabsBar div.tab div.label{
  color: inherit;
  position: relative;
  top: 20px;
}

#tabsBar div.opened{
  color: #662d91;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: auto; 
  background: rgba(163, 154, 198, 0.4);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
}

#tabsBar div:first-child.tab{
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

#tabsBar div:last-child.tab{
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
