html {
  font-family: sans-serif;
  font-size: 14px/1.4;
}

body {
    min-width: 960px;
    background-color: #b7abc3;
    margin: 0;
		padding: 0;
		font: 14px/1 "Helvetica Neue", Arial, sans-serif;
    background-image: url("/dashboards/images/bgImage.png");
    background-repeat: repeat-x;
}

ul {
  list-style: none;
}

header {
  display: block;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #b3adc6;
  padding: 10px 10px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, .4), 0 5px 10px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .4), 0px 5px 10px  rgba(0, 0, 0, .3);
}

.dashboard{
}

#toolBoxHeader{
  margin: 10px;
  text-align: left;
}

#tools{
}

.toolBoxText {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  opacity: .6;
}

.titleHover{
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-right: 1px;
}

a.barButton {
  height: 29px;
  line-height: 27px;
  font-size: 15px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  background: #764293;
  padding: 0 12px;
  margin-right: 10px;
  opacity: .9;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 0 rgba(255, 255, 255, 0.15) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 0 rgba(255, 255, 255, 0.15) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 0 rgba(255, 255, 255, 0.15) inset;
    cursor: pointer;

}

.tool{
  width: 100%; 
  color: rgba(0, 0, 0, .6);;
  background-color: rgba(147, 142, 174, 0.4);
  font-weight: light;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;  
}

.toolTitle{
  padding-left: 10px;
}

#messageSendButton{
  display: none;
}

#messageField {
  width: 85%;
  overflow-x: hide;
  background: white;
  height: 27px;
  margin: 0px;
  padding: 5px;
  border-width: 1px;
  display: inline;
  -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

#chatInput{
  width: 100%;
  text-align: center;
}

/*
#chatList{
  margin: 0px;
  width: 90%;
  height: 180px;
  background-color: #ff0000;
  overflow-y: scroll;
}


#chatTab {
  position: absolute;
  width: 30px;
  height: 100px;
  right: -30px;
  color: red;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  color: #EEE;
}

#chatTab > .bg {
position: absolute;
top: 0;
right: 0;
width: 15px;
height: 100px;
background: rgba(255, 255, 255, 0.05);
}

#chatTab > .tabText {
display: block;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
transform: rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
color: white;
padding-left: 28px;
text-shadow: 0 1px 0 black;
font-family: "ff-din-web-1","ff-din-web-2",Helvetica;
font-size: 13px;
z-index: 50;
}

*/

.toolBox{
  display: block; 
  position: fixed; 
  text-align: center;
  background-color: #b7abc3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .3);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .3);
  border-style: solid;
  border-color: rgba(0, 0, 0, .4);
  border-width: 1px;
  margin-right: 10px;
  margin-top: 10px;
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, .9);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .9);
}

header h1 {
 float: left;
 margin: 0;
}

header h1 a {
background: url("/dashboards/images/ascotLogo.png");
float: left;
height: 35px;
overflow: hidden;
text-indent: -900px;
width: 143px;
}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: white;}

header nav {
float: right;
margin: 5px 0 0;
}

header li {
float: left;
}

header nav a {
  font-size: 16px;
  padding: 4px 10px;
  margin: 0 0 0 5px;
  float: left;
  overflow: visible;
}
