html {
  font-family: sans-serif;
  font-size: 14px/1.4;
}

body {
    min-width: 960px;
    background-color: #b7abc3;
    margin: 0;
		padding: 0;
		font: 12px/1.5 Helvetica, Arial, sans-serif;
    background-image: url("/dashboards/images/bgImage.png");
    background-repeat: repeat-x;
}

ul {
  list-style: none;
}

header {
  background: #b3adc6;
  padding: 10px 10px;
  -moz-box-shadow: 0 0px 0 rgba(0, 0, 0, .0), 0 1px 0 rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0px 0 rgba(0, 0, 0, .0), 0 1px 0  rgba(0, 0, 0, .4);
}

.dashboard{
}

.title {
  font-size: 14px;
  font-weight: medium;
  color: #000000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  opacity: .6;
  margin: 15px;
}

.chat{
  height: 410px;
  background-color: #b7abc3 ;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .3);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .3);
  float: right;
  border-style: solid;
  border-color: rgba(0, 0, 0, .4);  
  border-width: 1px;
}

header h1 {
 float: left;
 margin: 0;
}

header h1 a {
background: url("/dashboards/images/ascotLogo.png");
float: left;
height: 35px;
overflow: hidden;
text-indent: -900px;
width: 143px;
}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: white;}

header nav {
float: right;
margin: 5px 0 0;
}

header li {
float: left;
}

header nav a {
font-size: 16px;
padding: 4px 10px;
margin: 0 0 0 5px;
color: #764293;
float: left;
overflow: visible;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
}
