canvas { 
  cursor: pointer; 
  -webkit-user-select: none;
}
input{
  font-size: 20px;
}
#title{
 font-weight: bold;
 font-size: 50px;
}
#slogan{
 font-size: 30px; 
 vertical-align: middle;
 line-height: 2;
}
#logo{
 position: absolute;
 top: 0px;
 left: 0px;
 background-image: url(../images/logo.png);
 width: 399px;
 height: 252px;
 z-index: -1; 
}
#dropbox{
  display: inline-block;
  background-color: #F0EFD1;
  border-radius: 5px;
  padding: 10px;
  width: 640px;
  height: 480px;
  border: 2px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
}
#annoControls{
  display: inline-block;
  background-color: #F0EFD1;
  border-radius: 5px;
  padding: 10px;
  width: 640px;
  height: 300px;
  border: 2px solid black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: left;
}
#infobox{
  height: 600px;
  width: 340px;
  float: right;
}
#dropLabel{
  display: inline-block;
  margin-top: 200px;
  font: 22px 'Lucida Grande', 'Helvetica Neue', Arial, sans-serif;
}
#wrapper{ 
  width: 1200px;     
  margin: auto; 
  padding: 10px;
}
#fileChooser{
	height: 100px;
	display: block;
	padding-top: 10px;
}
  
.ui-slider {
  position: relative;
  width: 300px;
  height: 3px;
  background: #3F3F3F;
  margin-top: 8px;
}

.ui-slider-handle {
  cursor: default;
  position: absolute;
  width: 12px;
  height: 12px;
  background: #DFDFDF;
  background: -moz-linear-gradient(#EFEFEF, #BFBFBF);
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#BFBFBF));
  border: 1px solid #3F3F3F;
  margin: -5px 0 0 -7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.ui-state-active { background: white; }
.ui-state-focus { outline: none; }
