html{
 color: #555555; 
}

a {
  color: #71829E;
  cursor: pointer;
}

label {
  vertical-align: middle;
}

input, textarea {
  margin: 5px 10px 5px 0px; 
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  border: 1px solid #DDD;
  border-top-color: #CCC;
  border-bottom-color: #EAEAEA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  font-weight: normal;
}

input[type="checkbox"] {
  -khtml-appearance: none;
  background: url(/images/checkBoxGrey.png) no-repeat;
  width: 17px;
  height: 18px;
  top: 6px;
  border: 0px solid #DDD;
  position: relative;
  margin: 0px 5px 0px 10px; 
}

input[type="checkbox"]:checked {
  background: url(../images/checkBoxSelectedGrey.png) no-repeat;
}

input[type="radio"] {
  -khtml-appearance: none;
  background: url(../images/radioGrey.png) no-repeat;
  border: none;
  width: 17px;
  height: 18px;
  padding: 0px;
  margin: 0px 5px 0px 10px;
  vertical-align: middle; 
}

input[type="radio"]:checked {
  background: url(../images/radioSelectedGrey.png) no-repeat;
}

input[type="range"] {
  -khtml-appearance: none; 
  -webkit-border-image: url(../images/slider-horizontal-track.png) 2 4 2 4 / 2px 4px 2px 4px repeat repeat;
  height: 5px;
  padding: 0;
}

input[type="button"],[type="submit"] {
 font-size: 12px;
 color: #555555;
 background: #f1f1f1;
 margin: 0px 10px 0px 5px; 
 white-space: nowrap;
 overflow: visible;
 cursor: pointer;
 border: 1px solid #CACACA;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-transition: border-color .218s;
 background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(rgb(245, 245, 245)), to(rgb(241, 241, 241)));
 background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(rgb(245, 245, 245)), to(rgb(241, 241, 241)));
 
}

input[type="button"]:hover,[type="submit"]:hover {
  border-color: #737373;
}

input[type="button"]:active,[type="submit"]:active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(rgb(241, 241, 241)), to(rgb(245, 245, 245)));
  background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(rgb(241, 241, 241)), to(rgb(245, 245, 245)));
}

textarea {
  /* To give the same inset shadows as input[type='text'] */
  resize: none;
  padding: 5px;
  /* 
    Hack to make the same size as text inputs,
    since their native border isn't taken into
    account when calculating width.
  */
  padding-right: 6px;
}

select {
  -khtml-appearance: none;
  min-height: 24px;
  padding: 5px;
  margin: 10px 10px 0px 5px;
  font-size: 12px;
  color: #555555;
  background: #f1f1f1;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  border: 1px solid #CACACA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: border-color .218s;
  background: url(../images/selectUpDownGrey.png) center right no-repeat, -webkit-gradient(linear, 0% 40%, 0% 70%, from(rgb(245, 245, 245)), to(rgb(241, 241, 241)));
  background: url(../images/selectUpDownGrey.png) center right no-repeat, -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(rgb(245, 245, 245)), to(rgb(241, 241, 241)));
  border: 1px solid #BDBDBD;
  border-bottom-color: #949494;
  padding: 0 35px 0 5px;
  outline: none;
}

select:active {
  outline: none;
}

::-webkit-input-placeholder {
  color: #8F8F8F;
}

button {
  background: #a29ac4;
  padding: 9px 9px;
  
  -khtml-appearance: none;
  -moz-appearance: none;

  color: #ffffff;
  text-shadow: 0 -1px 0 #767577;
  
  border-width: 1px;
  border-style: solid;
  border-color: #8560a6; 
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  cursor: pointer;
  
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
}

button.big {
  font-weight: bold;
  font-size: 14px;
  text-transform:capitalize;
  padding: 12px 12px;
}

button.circle{
  background: #8382a2;
  
  width:18px;
  height:18px;
  padding: 0px;
  
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0);
   -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0);
   box-shadow: 1px 2px 2px rgba(0,0,0,0);
  
  border-width: 0px;
  border-radius:9px;
  -moz-border-radius:9px;
  -webkit-border-radius:9px;
  
  line-height:16px;
  text-shadow: 0px 0px 0px #d2d2d2;
  text-align: center;
  font-weight: bold;
}

button.circle:active:not(:disabled) {
  -moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3);
  -box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3);
}

button.circle:hover,
button.circle:hover{
  background: #8382a2;
  border-width: 1px;
  border-color: #e3e0f4;
}  

button:hover,
button:focus {
  background: #b4aed0;
}

button:active:not(:disabled) {
  background: #b4aed0;
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
  -box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
}


button:disabled, button:hover:disabled {
  opacity: 0.5;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  cursor: default;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #e3e0f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #e3e0f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece:vertical:start {
  background: #8382a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece:vertical:end {
  background: #8382a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece:horizontal:end {
  background: #8382a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
}

::-webkit-scrollbar-track-piece:horizontal:start {
  background: #8382a2;
}

/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}
 
/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
    display: none;
}

::-webkit-slider-thumb { 
  -khtml-appearance: none; 
  background: url(../images/slider-knob.png) no-repeat; 
  width: 23px; 
  height: 24px;
}

/*This doesn't seem to be implemented yet*/
::-webkit-slider-thumb:active { 
  background: url(../images/slider-knob-highlighted.png) no-repeat;
}

.copy {
  cursor: copy;
}

.progress {
  cursor: progress;
}