button.ascot {
  background: url(http://ascot.astro.washington.edu/images/ascotButton/ascotButton.png);  
  width: 60px;
  height: 23px;
  margin: 0px 2px 0px 2px;
  padding: 0px;
  cursor: pointer;
  border-width: 0px;
  vertical-align: middle;
}

button:hover{
  background-position: 60px 0px;
}



