<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/reset.css"> 
    <link rel="stylesheet" href="/css/text.css"> 
    <link rel="stylesheet" href="/css/gadget.css">
    <link rel="stylesheet" href="/css/dashboardPanel.css"> 
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js" type="text/javascript"></script>
    <script src="/modernizr.custom.80028.js"></script>
    <script src="/underscore.js" type="text/javascript"></script>
    <script src="/backbone.js" type="text/javascript"></script>
    <script src="/chat.js" type="text/javascript"></script>
    <script src="/faye/faye.js" type="text/javascript"></script>
    <script src="/logs.js" type="text/javascript"></script>
    <script src="/util.js" type="text/javascript"></script>
    <script src="/gadget.js" type="text/javascript"></script>
    <script src="/layoutManager.js" type="text/javascript"></script>
    <script src="/dataSetModifier.js" type="text/javascript"></script> 
    <script src="/dataSet.js" type="text/javascript"></script> 
    <script src="/renderer.js" type="text/javascript"></script>
    <script src="/dashboard.js" type="text/javascript"></script>
    
    <script type="text/javascript">

    var ASCOT = ASCOT || {};

    var dashboardId = {{id}};
    var resourceUrl = {{resourceUrl}};

    $(function(){
      initDashboard();
    });
    
    var finishedLoading = function(){
      $('#loadingBar').toggle();
    }

    var initDashboard = function() {
      ASCOT.dashboard = new UW.Dashboard();
      ASCOT.dashboard.setContainer($("#" + 'dashboard').get(0));
      ASCOT.dashboard.setUrl(resourceUrl + '/' + dashboardId);
      ASCOT.dashboard.init(finishedLoading);
      initGUI();
      return ASCOT.dashboard;
    };

    function saveDashboard() {
      //displayNote('ALERT');
      showPopUp('popUp');
      //ASCOT.dashboard.save();
    }

    function initGUI() {
      var closeNote = document.getElementById("closeNote");
      closeNote.addEventListener('click', function() {
        var note = document.getElementById("note");
        note.style.visibility = 'hidden';
      }, false);
    }
    
    var displayNote = function(message){
      var note = $('#note');
      var newNote = note.clone(true);
      var closeButton = $('#closeNote');
      newNote.html('');
      newNote.append(message + " ");
      newNote.append(closeButton);
      note.before(newNote);
      newNote.css('visibility','visible');
      $("." + note.attr('class') + ':last').remove();
    }
    
    function showPopUp(popUpId) {
      var viewPortHeight = $(window).height();
      var viewPortWidth = $(window).width();
      var popUpMask = $('#popUpMask');
      var popUp = $('#' + popUpId);
      var popUpTop = viewPortHeight/2 - popUp.height();
      var popUpLeft = viewPortWidth/2 - popUp.height();
      popUp.css('top', popUpTop + 'px');
      popUp.css('left', popUpLeft + 'px');
      popUpMask.css('height', viewPortHeight + 'px'); 
      $('#popUpMask').toggle();     
      $('#' + popUpId).toggle();     
    }
    
    function hidePopUp(popUpId) {
      $('#popUpMask').toggle();     
      $('#' + popUpId).toggle(); 
    }

    </script>
    
  </head>
  <body>
    <div id="popUpMask" style="display: none"></div>
    <div id="popUp" style="display: none"><a href="#" onClick="hidePopUp('popUp')">Close Me</a></div>
    <div id="note" class="openNote" style="visibility: hidden"><a id="closeNote"></a></div>
    
    <table class="content" width="100%">
      <tr>
        <td colspan="2" class="header">
          <header>
              <div class="logo">
                <a href="/" title="Astronomical Collaborative Toolkit">Astronomical Collaborative Toolkit</a>
              </div>
              <nav class="header">
                <div class="buttonGroup">
                  <ul>
                    <li class="left" ><a href="#" title="undo" onClick="">Undo</a></li>
                    <li class="right"><a href="#" title="redo" onClick="">Redo</a></li>
                  </ul>
                </div>
                <div class="buttonGroup">
                  <ul>
                    <li><a href="#" title="saveDashboard" onClick="saveDashboard()">Save</a></li>
                  </ul>
                </div>
                <div class="buttonGroup">
                  <ul>
                    <li><a href="#" title="cloneDashboard" onClick="">Clone</a></li>
                  </ul>
                </div>
              </nav>
            </div>  
          </header>
        </td> 
      </tr>
      <tr>  
        <td id="toolBox">
          <div id="tabsBar">
            <div class="tab" style="background: white;" ></div> 
            <div class="tab"></div> 
            <div class="tab"></div> 
          </div>
        </td> 
        <td class="dashboard">
          <div id="dashboard" class="dashboard">
            <div id="loadingBar" style="width: 107px; margin: auto; margin-top: 210px"><img style="height: 19px; width: 107px" alt="dashboard loading" src='/images/loadingBar.gif'></div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="footer">
          <footer>
            <a href="http://uw.edu" style="float: right"><span class="uwLogo"></span> University of Washington</a>
          </footer>
        </td> 
      </tr>
    </table>
  </body>
</html>