<!-- Author: Diego Marcos (dmarcos@uw.edu) -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Ascot</title>
<meta name="description" content="Framework to develop online collaborative tools." />
<meta http-equiv="Pragma" content="no-cache">

<link rel="stylesheet" href="/css/reset.css"> 
<link rel="stylesheet" href="/css/960.css"> 
<link rel="stylesheet" href="/css/text.css"> 
<link rel="stylesheet" href="/css/gadget.css">
<link rel="stylesheet" href="/css/dashboard.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js" type="text/javascript"></script>
<script src="/underscore.js" type="text/javascript"></script>
<script src="/backbone.js" type="text/javascript"></script>
<script src="/chat.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script> 
<script src="/nowjs/now.js"></script> 
<script src="/logs.js" type="text/javascript"></script>
<script src="/util.js" type="text/javascript"></script>
<script src="/gadget.js" type="text/javascript"></script>
<script src="/layoutManager.js" type="text/javascript"></script>
<script src="/abstractDataModel.js" type="text/javascript"></script>
<script src="/metaDataModel.js" type="text/javascript"></script> 
<script src="/dataModel.js" type="text/javascript"></script> 
<script src="/renderer.js" type="text/javascript"></script>
<script src="/dashboard.js" type="text/javascript"></script>

<script type="text/javascript">

var ASCOT = ASCOT || {};

var dashboardId = {{id}};
var resourceUrl = {{resourceUrl}};

var initDashboard = function(){
  loadState();  
  initGUI();
}

$(function(){
  initDashboard();
});

function loadState() {
  ASCOT.dashboard = new UW.Dashboard($("#" + 'dashboard').get(0));
  ASCOT.dashboard.loadState(resourceUrl + '/' + dashboardId + '/state');
  return ASCOT.dashboard;
};

function saveDashboard() {
  ASCOT.dashboard.saveState('/dashboard/' + dashboardId);
}

function initGUI() {

  var toolBoxOpened = false;

  var resizeToolBox = function (){
    $('#toolBox').css({'height':  $(window).height() - 100});
    $('#chatList').css({'height':  $(window).height() - 220});
    if(!toolBoxOpened){
      $('#toolBoxClickableArea').css({'height':  $(window).height() - 100});
    }
  }
  
  resizeToolBox();
  $(window).resize(resizeToolBox);

  $("#toolBoxClickableArea").click(function() {
  
    //var pos;
    var newWidth = 20;
    var animationDuration = 200;
    var icon = '+';
    var display = 'none';
    var animationEasing = {
      width: 'linear',
      height: 'easeOutBounce'
    };
    
    if(!toolBoxOpened){
      newWidth = 200;
      icon = '-';
      display = 'inline';
      toolBoxOpened = true;
      $('#toolBoxClickableArea').css({'height':  35, 'width': newWidth});
    }
    else{
      toolBoxOpened = false;
      $('#toolBoxClickableArea').css({'height':  $(window).height() - 100, 'width': newWidth});
    }

    $('#toolBox').css({'width': newWidth });
    $('#toolBoxColumn').css({'width': newWidth + 25});
    $('#toolBoxTitle').css({'display': display});
    $("#toolBoxButton").html(icon);
    $('#tools').css({'display': display});
        
    return false;
    
  });
  
  var inHandler = function(){
    $("#toolBox").css({'background-color': '#764293'});
    $("#toolBoxButton").toggleClass("titleHover");
    $("#toolBoxTitle").toggleClass("titleHover");
  }
  
  var outHandler = function(){
    $("#toolBox").css({'background-color': '#b7abc3'});
    $("#toolBoxButton").toggleClass("titleHover");
    $("#toolBoxTitle").toggleClass("titleHover");
  }
  
  $("#toolBoxClickableArea").hover(inHandler, outHandler);

}

</script>
</head>
<body>
  <header>
  <div class="container_12 clearfix">
    <div class="grid_12">
      <h1>
        <a href="/dashboard/" title="Astronomical Collaborative Toolkit">Astronomical Collaborative Toolkit</a>
      </h1>
      <nav>
        <ul>
          <li>
            <a href="#" title="saveDashboard" onClick="saveDashboard()">Save</a>
          </li>
        </ul>
      </nav>
    </div>			
  </div>
  </header>
  
  <table id="dashboardArea" width="100%" style="margin-top: 60px">
    <tr>  
        <td id="toolBoxColumn" style="width: 40px">
          <div id="toolBox" class="toolBox" style="width: 20px; top: 60px; left: 10px;">
            <div id="toolBoxHeader" style="width: 100%">
              <span id="toolBoxTitle" style="display: none; font-weight: medium;">ToolBox</span>
              <span id="toolBoxButton" style="float: right; margin-right: 16px">+</span>
            </div>
            <div id="tools" style="display: none">
              <div id="chat" class="tool">
                <div class="toolTitle" style="width: 100%">Chat</div>
                <div id="chatList" style="height: 400px; margin-top: 10px"></div>
                <div id="chatInput">
                  <form id="chatMessageForm" method="post" action="#" onsubmit="return false">
                    <input id="messageField" type="text" name="chatMessage">
                    <input id="messageSendButton" type="submit" value="send">
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div id="toolBoxClickableArea" style="width: 20px; top: 60px; left: 10px; opacity: 0" class="toolBox" ></div>
      </td>
      <td>
        <div id="dashboard" style="width: 100%;"></div>
      </td>
    </tr>
  </table>
  
</body>
</html>
